extends layout

block content
  h1 English-Spanish Dictionary
  div
    form
      fieldset
        input(id='term', type='text', value='', placeholder='e.g. interloper')
      input(id='search-button', type='submit', value='Search')
  div(class='errors', hidden=true)
  div(class='translations', hidden=true)
