extends layout

block content
  div
    p(class='translations', hidden=true)
  div
    form
      fieldset
        input(id='term', type='text', value='')
      input(id='search-button', type='submit', value='Search')
